<div class="container">
  <div class="col-xs-12">
    <div class="row">
      <app-game-control (onEachCount)="onCountIncreased($event)"></app-game-control>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-2">
        <div *ngFor="let component of counterComponents">
          <app-odd *ngIf="component.compType == 'odd'" [count]="component.count"></app-odd>
          <app-even *ngIf="component.compType == 'even'" [count]="component.count"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>